.notification {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 12px 20px;
  border-radius: 8px;
  color: white;
  font-size: 20px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
  z-index: 1000;
}

.notification.success {
  background-color: #4caf50; /* green */
}

.notification.error {
  background-color: #f44336; /* red */
}

.notification.warning {
  background-color: #EF870B; /* orange */
}

