.integer-input-wrapper {
  width: 100%; 
}

.integer-input {
  width: 100%; 
  box-sizing: border-box; 
  font-size: 16px;
  border: 2px solid #FF57DF;   
  outline: none;          
  border-radius: 6px;   
  min-height: 32px; 
  resize: none;
  overflow: hidden;     
  padding-left: 10px;
}

/* Remove spinner buttons */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


