.form-card-title-container {
  box-sizing: border-box;
  margin: 50px auto;
  padding: 20px 30px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  border-top: 12px solid #007bff; /* Blue top border */
}

.form-card-title {
  font-size: 36px;
  font-weight: 600;
  color: #333333;
  margin: 0;
  text-align: left;
}

.form-card-description {
  font-size: 22px;   
  font-weight: 400;  
  color: #555555;  
  margin-top: 15px;

}

.form-field-width {
  width: 90vw;
}

.form-field-error-message {
  color: #f44336;
  font-size: 18px;
  margin-top: 15px;
  font-style: italic;
}

@media (min-width: 1024px) {
  .form-field-width {
    width: 700px;
  }
}
