.progress-bar-container {
  position: fixed;
  bottom: 0;
  height: 1.2vh;
  width: 100vw;
  z-index: 100;
  overflow: hidden;
  box-shadow: 2px 2px 4px rgba(153, 145, 145, 0.1);
  border: none; 
}

.progress-bar-filled {
  height: 100%;
  width: 0%;
  background: #006FE6;
  transition: width 0.5s, background 0.8s; 
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1; 
}

.progress-bar-label {
  position: absolute;  
  top: 50%;    
  left: 50%;          
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: small;
  color: #222;
  z-index: 2;  
}

.form-header-row {
  display: flex;
  justify-content: space-between; 
  align-items: center;       
  margin-bottom: 6px;        
}

@media (min-width: 1024px) {
  .progress-bar-container {
    width: 100vw;
    margin: 0px auto;
    top: 0px;
    height: 7px;
  }
}